.navigation {
  display: flex;
}

.list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 32px;

  /* Это нужно, чтобы полностью убрать дефолтные отступы у списков */
  margin: 0; 
  padding: 0;
}

.link,
.active_link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  padding: 6px 12px;
  border-radius: 8px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.link { color: #282828; }
.active_link { color: #0d50ff; }

.link:hover {
  background-color: rgba(13, 80, 255, 0.1);
  color: #0d50ff;
}

@media(max-width: 910px){
  .navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}
  .list {
  flex-direction: column;
  align-items: flex-start;
}
}

