.footerContainer{
   margin-top: 80px;
  padding-bottom: 70px;
}

.mapWrapper {
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 0;
}

.map {
  width: 100%;
  height: 360px;
  border: none;
  display: block;
}

