.mainBannerBox {
  position: relative;
  width: 100%;
}

.mainBannerBox img {
  display: block;
  width: 100%;
  height: auto;
}

.bannerContent {
  position: absolute;
  inset: 0;              /* заполняет весь баннер */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: clamp(16px, 6vw, 64px);
  gap: clamp(8px, 3vw, 40px);
  max-width: 1100px;     
}

.h2Banner {
  font-weight: 700;
  line-height: 1.1;
  color: #fff;
  font-size: clamp(12px, 6vw, 96px);
}
@media(max-width: 1505px){
  .bannerContent{
    max-width: 1000px;
  }
}
