.btn {
  position: fixed;
  right: 24px;
  bottom: 24px;
  width: 72px;
  height: 72px;
  border: none;
  border-radius: 50%;
  background-color: #d9d9d9;
  color: #282828;
  font-size: 40px;
  cursor: pointer;
  z-index: 2000;

  /* делает кнопку полностью НЕвидимой */
  opacity: 0;
  transform: translateY(10px);

  /* выключает клики по кнопке */
  pointer-events: none;
  transition: 0.2s;
}

.show {
  /* делает кнопку полностью видимой */
  opacity: 1;  
  transform: translateY(0);

  /* включает клики по кнопке */
  pointer-events: auto;
}

.btn:hover{
  background-color:  rgba(13, 80, 255, 0.4);
  /* outline-offset: 2px; */
}

