.wrap {
  position: relative;
  width: 48px;
  height: 48px;
}

.icon {
  width: 48px;
  height: 48px;
  display: block;
}

.badge {
  position: absolute;
  top: 2px;
  left: 0;
  min-width: 26px;
  height: 26px;
  border-radius: 100%;
  background: #0d50ff;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  line-height: 90%;
  display: grid;
  place-items: center;
  /* place-items: center -это
    align-items: center;
    justify-items: center; */
  padding: 0 6px;
}
