.categoriesHeader {
  margin: 0 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
.titleCategories {
  font-weight: 700;
  font-size: 64px;
  line-height: 110%;
  color: #282828;
}

.categoriesList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 22px;
  margin-bottom: 106px;
}

.categoryCard {
  text-decoration: none;
  border-radius: 12px;
  padding: 10px;

  /* transition: transform 0.2s ease, box-shadow 0.2s ease; */
}

.categoryCard img {
  width: 100%;
  border-radius: 12px;
  display: block;
  transition: transform 0.4s ease;
}

.categoryCard:hover {
  transform: translateY(-1px) scale(1.01);
  box-shadow: 0 8px 20px rgba(40, 40, 40, 0.12);
}

.categoryName {
  margin-top: 16px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #282828;
}
@media (max-width: 1280px) {
  .categoriesList {
    gap: 10px;
  }
}

@media (max-width: 1200px) {
  .categoriesList {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 768px) {
  .titleCategories {
    font-size: 44px;
  }
     .categoriesList {
    gap: 15px;
  }

}
@media (max-width: 650px) {
  .categoriesHeader {
    gap: 15px;
  }
  .categoriesList{
    margin-bottom: 50px;
  }
}
@media (max-width: 483px) {
  .headerLiner {
    display: none;
  }
   .categoriesHeader {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 20px;
  }

    .categoriesList {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .categoryCard{
    border: 1px solid lightgray;
  }
}

@media (max-width: 420px) {
  .titleCategories {
    font-size: 32px;
  }
}
