.productsHeader {
  margin-bottom: 40px;
}

.title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 64px;
  line-height: 110%;
  color: #282828;
}

.filtersBar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
  margin-bottom: 40px;
}

.filterGroup {
  display: flex;
  align-items: center;
  gap: 16px;
}
.textPrice,
.textDisc,
.textSorted {
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #282828;
}

.inputsRow {
  display: flex;
  gap: 16px;
}

.input {
  width: 112px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 126%;
  color: #282828;
  cursor: pointer;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  cursor: pointer;
}

.checkboxGroup {
  display: flex;
  align-items: center;
  gap: 16px;
}

.checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 36px;
  height: 36px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #fff;
  cursor: pointer;
  display: inline-grid;
  place-content: center;
}

.checkbox:checked {
  border-color: #0d50ff;
  background: #0d50ff;
}

.checkbox:checked::after {
  content: "";
  width: 10px;
  height: 6px;
  border: 2px solid #fff;
  border-top: 0;
  border-right: 0;
  transform: rotate(-45deg);
}

.select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  min-width: 200px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 8px 36px 8px 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 126%;
  color: #282828;
  cursor: pointer;
  background-image: url("../../assets/icons/icon-down.svg");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 20px 20px;
}

.select::-ms-expand {
  display: none;
}
.noFoundBox {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 45px;
  align-items: center;
  justify-content: center;
}

.noFoundText {
  margin-bottom: 60px;
  text-align: center;
  font-weight: 500;
  font-size: 42px;
  line-height: 110%;
  color: #282828;
}

.productsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  margin-bottom: 80px;
}

.card {
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
  background: #fff;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-1px) scale(1.01);
  box-shadow: 0 8px 20px rgba(40, 40, 40, 0.12);
}

.imageWrap {
  position: relative;
}

.image {
  width: 100%;
  height: 284px;
  object-fit: cover;
  display: block;
}

.badge {
  position: absolute;
  top: 16px;
  right: 16px;
  background: #0d50ff;
  border-radius: 6px;
  padding: 4px 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #fff;
}

.productTitle {
  margin: 16px 16px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #282828;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.priceRow {
  margin: 16px;
  display: flex;
  align-items: baseline;
  gap: 16px;
}

.newPrice {
  font-weight: 700;
  font-size: 40px;
  line-height: 110%;
  color: #282828;
}

.oldPrice {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #8b8b8b;
  text-decoration: line-through;
}

.imageWrap {
  position: relative;
}

.cardAddBtn {
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 16px;
  border: none;
  border-radius: 6px;
  background: #0d50ff;
  color: #fff;
  padding: 16px 32px;
  line-height: 130%;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;

  opacity: 0;
  transform: translateY(8px);
  pointer-events: none;
  transition:
    opacity 0.2s ease,
    transform 0.2s ease,
    background-color 0.2s ease,
    color 0.2s ease;
}

.card:hover .cardAddBtn {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/*
Это CSS-селектор с условием
.cardAddBtn:not(.cardAddedBtn):hover значит:
элемент с классом .cardAddBtn
который не имеет класса .cardAddedBtn
и на который навели мышь (:hover)
То есть hover-стиль применяется только для обычной кнопки Add to cart, но не для состояния Added.
*/
.cardAddBtn:not(.cardAddedBtn):hover {
  background: #282828;
  color: #fff;
}

.cardAddedBtn {
  background: #fff;
  color: #282828;
  border: 1px solid #282828;
}

.cardAddedBtn:hover {
  background: #fff;
  color: #282828;
}

@media (max-width: 1200px) {
  .productsGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 35px;
  }
}

@media (max-width: 930px) {
  .sadFace {
    width: 180px;
  }
  .noFoundText {
    font-size: 34px;
  }
}

@media (max-width: 768px) {
  .cardAddBtn {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .filtersBar {
    gap: 16px;
    margin-bottom: 24px;
  }

  .filterGroup,
  .checkboxGroup {
    font-size: 18px;
  }

  .sadFace {
    width: 150px;
  }

  .select {
    min-width: 180px;
  }

  .title {
    font-size: 44px;
  }

  .productsGrid {
    gap: 15px;
  }
}

@media (max-width: 750px) {
  .cardAddBtn {
    opacity: 1;
    transform: none;
    pointer-events: auto;
    transition: none;
  }

  .card:hover .cardAddBtn {
    opacity: 1;
    transform: none;
  }
}
@media (max-width: 660px) {
  .cardAddBtn,
  .cardAddedBtn {
    padding: 8px 18px;
  }
}

@media (max-width: 483px) {
  .sadFace {
    width: 120px;
  }

  .productsGrid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .image {
    height: 240px;
  }
}

@media (max-width: 420px) {
  .title {
    font-size: 32px;
  }

  .filterGroup,
  .inputsRow {
    gap: 8px;
  }
  .input {
    width: 92px;
  }
  .select {
    width: 120px;
  }

  .newPrice {
    font-size: 32px;
  }

  .oldPrice {
    font-size: 18px;
  }

  .badge {
    font-size: 16px;
  }
}
